:root {
  /* colors */
  --red-primary: 255;
  --green-primary: 210;
  --blue-primary: 240;

  --red-secondary: 191;
  --green-secondary: 165;
  --blue-secondary: 255;


  --text-size: 18px;

  /* --color-primary: #ffd2f0; */
  /* --color-secondary: #bfa5f7; */
  --color-primary: rgb(var(--red-primary), var(--green-primary), var(--blue-primary));
  --color-secondary: rgb(var(--red-secondary), var(--green-secondary), var(--blue-secondary));
  --color-dragonfly: rgb(var(--red-primary), var(--green-primary), var(--blue-primary));
  --color-text-primary: #2f262a;
  --bg-color: #fff;
  --color-title: var(--color-text-primary);
  --bg-selection: rgb(var(--red-primary), var(--green-primary), var(--blue-primary));
  --color-selectioin: var(--color-text-primary);
  --color-border: rgba(40, 44, 53, 0.3);

  @media (prefers-color-scheme: dark) {
    --color-text-primary: hsla(0,0%,100%,0.88);
    --bg-color: #282c35;
    --color-title: var(--color-primary);
    --color-dragonfly: #000;
    --bg-selection: var(--color-text-primary);
    --color-selectioin: var(--bg-color);


    @media (--smallDown) {
      --color-primary: var(--color-secondary);
    }
}
}
