:root {
  /* colors */
  --red: 255;
  --green: 210;
  --blue: 240;

  /* --color-primary: #ffd2f0; */
  --color-primary: var(--color-dragonfly);
  --color-secondary: #bfa5f7;
  --color-dragonfly: rgb(var(--red), var(--green), var(--blue));
  --color-text-primary: #2f262a;
}
