/* fonts */
@font-face {
  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-display: fallback;
  font-weight: 500;
  src: url('/fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-display: fallback;
  font-weight: 400;
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SourseSansPro-Regular';
  font-style: normal;
  font-display: fallback;
  font-weight: 400;
  src: url('/fonts/SourceSansPro-Regular.ttf') format('truetype');
}


:root {
  /* fonts */
  --fontFamily: 'SourseSansPro-Regular', sans-serif;
  --fontFamily-header-medium: 'Montserrat-Medium', 'Helvetica Neue', sans-serif;
  --fontFamily-header-regular: 'Montserrat-Regular', 'Helvetica Neue', sans-serif;

  --header-font-size: calc(52px + 20 * ((100vw - 320px) / 960));
  --author-font-size: calc(22px + 14 * ((100vw - 320px) / 960));
  --subheader-font-size: calc(32px + 16 * ((100vw - 320px) / 960));
  --text-font-size: 18px;

  --header: var(--header-font-size) / 1 var(--fontFamily-header-medium);
  --author: var(--author-font-size) / 1 var(--fontFamily-header-regular);
  --subheader: var(--subheader-font-size) / 1 var(--fontFamily-header-regular);
  --text: var(--text-font-size) / 1.5 var(--fontFamily);
}


@define-mixin header {
  font: var(--header);
  
  @media (--largeUp) {
    font-size: 72px;
  }
}

@define-mixin author {
  font: var(--author);

  @media (--largeUp) {
    font-size: 36px;
  }
}

@define-mixin subheader {
  text-transform: lowercase;
  font: var(--subheader);
  @media (--largeUp) {
    font-size: 48px;
  }
}
