@define-mixin link-decoration {
  position: relative;

  &::after {
    content: '';
    z-index: -1;
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 0;
    width: 100%;
    background-color: var(--color-primary);
    transition-timing-function: ease-in;
    transition: height 0.07s;
    border-radius: 3px;
  }

  &:hover {
    &::after {
      height: calc(100% + 4px);
    }
  }
}