body {
  -webkit-font-smoothing: antialiased;
  margin: 0;

  & * {
    box-sizing: border-box;
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & p {
    margin: 0;
  }

  & ul {
    margin: 0;
    padding-top: 0;
    list-style: none;
  }

  & a {
    text-decoration: none;
    color: inherit;
    @mixin link-decoration;
  }

  font: var(--text);
  color: var(--color-text-primary);
}

::selection {
  background-color: var(--color-primary);
}

