.info {
  padding: 32px 0 24px 24px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 3;

  @media (--largeDown) {
    min-height: 40vh;
    padding: 32px 24px 24px;

    &::after {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 10px;
      background-color: var(--color-primary);
      bottom: 0;
      left: 0;
      z-index: 5;
    }
  }

  @media (--smallDown) {
    padding: 32px 12px 0;
  }
}

#info {
  @media (--largeDown) {
    width: 100% !important;
  }
}
