.dragonfly {
  width: 1000px;
  height: 1000px;
  position: absolute;
  z-index: 1;
  top: -300px;
  left: 0;
  transform: rotate(-135deg);

  & path {
    fill: var(--color-primary);
  }

  @media (--largeDown) {
    left: 300px;
  }

  @media (--smallDown) {
    display: none;
  }
}
