include ./../info/info.pug
include ./../text/text.pug


mixin page
  doctype html
  html(lang="ru")
    head
      title Рахрейтен
      link(rel="stylesheet", href="./../styles/main.css")
      link(rel='stylesheet' media='print' href='./../styles/print.css')
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width, initial-scale=1")

      meta(name="keywords", content="Рахрейтен, Мария, Лира, Кларенс, Морено-Гоголева, современная литература, Трих, Агата, Марк")
      meta(name="description" content="Повесть про людей, города, сны и громкие мысли")

      meta(name="yandex-verification" content="99f31cc2ab311432")
      meta(property="vk:image", content="https://sun9-18.userapi.com/c852120/v852120977/1cbccf/HO4D_8nF_bM.jpg")
      meta(property="vk:image:type", content="image/jpeg")
      meta(property="og:locale", content="ru_RU")
      meta(property="og:type", content="article")
      meta(property="article:author", content="Дарья Морено-Гоголева")
      meta(property="og:title", content="Рахрейтен. Дарья Морено-Гоголева")
      meta(property="og:description", content="Повесть про людей, города, сны и громкие мысли")
      meta(property="og:url", content="https://rrtn.art")
      meta(property="og:site_name", content="Рахрейтен")
      meta(property="og:image", content="https://sun9-52.userapi.com/c858324/v858324977/71065/izTFLwePYls.jpg")
      meta(property="og:image:type", content="image/jpeg")
      meta(property="og:image:width", content="1200")
      meta(property="og:image:height", content="630")

      meta(property="twitter:card", content="Рахрейтен. Дарья Морено-Гоголева")
      meta(property="twitter:site", content="@twanttobealighi")
      meta(property="twitter:creator", content="@twanttobealighi")
      meta(property="twitter:title", content="Рахрейтен")
      meta(property="twitter:description", content="Повесть про людей, города, сны и громкие мысли")
      meta(property="twitter:image", content="https://sun9-52.userapi.com/c858324/v858324977/71065/izTFLwePYls.jpg")
      meta(property="twitter:image:src", content="https://sun9-52.userapi.com/c858324/v858324977/71065/izTFLwePYls.jpg")
      meta(property="twitter:domain", content="www.rrtn.art")
      meta(property="twitter:app:name:iphone", content="Рахрейтен. Повесть про людей, города, сны и громкие мысли")

      link(rel="icon" type="image/png" sizes="32x32" href="./../icons/favicon-32x32.png")
      link(rel="apple-touch-icon" sizes="57x57" href="./../icons/apple-icon-57x57.png")
      link(rel="apple-touch-icon" sizes="60x60" href="./../icons/apple-icon-60x60.png")
      link(rel="apple-touch-icon" sizes="72x72" href="./../icons/apple-icon-72x72.png")
      link(rel="apple-touch-icon" sizes="76x76" href="./../icons/apple-icon-76x76.png")
      link(rel="apple-touch-icon" sizes="114x114" href="./../icons/apple-icon-114x114.png")
      link(rel="apple-touch-icon" sizes="120x120" href="./../icons/apple-icon-120x120.png")
      link(rel="apple-touch-icon" sizes="144x144" href="./../icons/apple-icon-144x144.png")
      link(rel="apple-touch-icon" sizes="152x152" href="./../icons/apple-icon-152x152.png")
      link(rel="apple-touch-icon" sizes="180x180" href="./../icons/apple-icon-180x180.png")
      link(rel="icon" type="image/png" sizes="192x192" href="./../icons/android-icon-192x192.png")
      link(rel="icon" type="image/png" sizes="32x32" href="./../icons/favicon-32x32.png")
      link(rel="icon" type="image/png" sizes="96x96" href="./../icons/favicon-96x96.png")
      link(rel="icon" type="image/png" sizes="16x16" href="./../icons/favicon-16x16.png")
    body
      main.page
        +info()
        +text()
      script(src="./../scripts/index.js" defer)
      

