include ./../link/link.pug
include ./../title/title.pug

mixin header
  header.header
    +title(class="header-title")
    +link('Дарья Морено-Гоголева', 'https://t.me/iwanttobealight').header__author
