.header {
  display: flex;
  flex-direction: column;
  z-index: 3;
  padding-right: 24px;

  @media (--largeDown) {
    padding-right: 0;
  }
}

.header__author {
  margin-left: auto;
  color: #06c;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);

  &:hover {
    border-bottom: none;
  }
}