mixin download

  article.download
    h2.download__title Скачать
    ul.download__list
      li.download__item fb2
      li.download__item mobi
      li.download__item epub
      li.download__item doc
      li.download__item pdf
