mixin download

  article.download
    h2.download__title Скачать
    ul.download__list
      li.download__item 
        a(href="./../../text/rachreiten.fb2") fb2
      li.download__item 
        a(href="./../../text/rachreiten.epub") epub
      li.download__item 
        a(href="./../../text/rachreiten.pdf") pdf
