.download {
  margin-top: auto;
  z-index: 3;
}

.download__title {
  margin-bottom: 16px;
  text-transform: lowercase;
  font: var(--subheader);

  @media (--largeUp) {
    font-size: 48px;
  }
}

.download__list {
  display: flex;
}

.download__item {
  margin-right: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  text-transform: lowercase;
  font: var(--subheader);
  
  @media (--largeUp) {
    font-size: 48px;
  }

  &::before {
    content: "";
    position: absolute;
    width: calc(100% + 32px);
    height: 100%;
    bottom: 0;
    left: -16px;
  }
}
