.download {
  margin-top: auto;
  z-index: 3;
}

.download__title {
  @mixin subheader;
  margin-bottom: 16px;
}

.download__list {
  display: flex;
}

.download__item {
  @mixin subheader;
  margin-right: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  @mixin link-decoration;

  &::before {
    content: "";
    position: absolute;
    width: calc(100% + 32px);
    height: 100%;
    bottom: 0;
    left: -16px;
  }
}
