/* medias */
@custom-media --xxlargeDown (max-width: 1280px);
@custom-media --xlargeDown (max-width: 1200px);
@custom-media --largeDown (max-width: 1024px);
@custom-media --mediumDown (max-width: 800px);
@custom-media --smallDown (max-width: 500px);

@custom-media --largeUp (min-width: 1280px);

@define-mixin link-decoration {
  position: relative;

  &::after {
    content: '';
    z-index: -1;
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 0;
    width: 100%;
    background-color: var(--color-primary);
    transition-timing-function: ease-in;
    transition: height 0.07s;
    border-radius: 3px;
  }

  &:hover {
    &::after {
      height: calc(100% + 4px);
    }
  }
}

/* fonts */
@font-face {
  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-display: fallback;
  font-weight: 500;
  src: url('/fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-display: fallback;
  font-weight: 400;
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SourseSansPro-Regular';
  font-style: normal;
  font-display: fallback;
  font-weight: 400;
  src: url('/fonts/SourceSansPro-Regular.ttf') format('truetype');
}

:root {
  /* colors */
  --color-primary: #ffd2f0;
  --color-text-primary: #2f262a;

  /* fonts */
  --fontFamily: 'SourseSansPro-Regular', sans-serif;
  --fontFamily-header-medium: 'Montserrat-Medium', 'Helvetica Neue', sans-serif;
  --fontFamily-header-regular: 'Montserrat-Regular', 'Helvetica Neue', sans-serif;

  --header-font-size: calc(52px + 20 * ((100vw - 320px) / 960));
  --author-font-size: calc(22px + 14 * ((100vw - 320px) / 960));
  --subheader-font-size: calc(32px + 16 * ((100vw - 320px) / 960));
  --text-font-size: 18px;

  --header: var(--header-font-size) / 1 var(--fontFamily-header-medium);
  --author: var(--author-font-size) / 1 var(--fontFamily-header-regular);
  --subheader: var(--subheader-font-size) / 1 var(--fontFamily-header-regular);
  --text: var(--text-font-size) / 1.5 var(--fontFamily);
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;

  & * {
    box-sizing: border-box;
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & p {
    margin: 0;
  }

  & ul {
    margin: 0;
    padding-top: 0;
    list-style: none;
  }

  & a {
    text-decoration: none;
    color: inherit;
    @mixin link-decoration;
  }

  font: var(--text);
  color: var(--color-text-primary);
}

::selection {
  background-color: var(--color-primary);
}

@define-mixin header {
  font: var(--header);
  
  @media (--largeUp) {
    font-size: 72px;
  }
}

@define-mixin author {
  font: var(--author);

  @media (--largeUp) {
    font-size: 36px;
  }
}

@define-mixin subheader {
  text-transform: lowercase;
  font: var(--subheader);
  @media (--largeUp) {
    font-size: 48px;
  }
}
