include ./../link/link.pug

mixin contacts

  article.contacts
    a(href="https://t.me/rrtn_art", target="_blank", rel="noreferrer").contacts__item
      img(src="./../icons/t_logo.png").contacts__logo

