.text {
  width: 50%;
  padding: 24px 24px 0 24px;
  margin-bottom: -24px;
  position: relative;
  z-index: 5;
  background-color: #fff;

  /* disable-scroll */
  overflow: scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;

  @media (--largeDown) {
    width: 100% !important;
  }
  
  @media (--smallDown) {
    padding: 16px 12px;
  }
}

.text::-webkit-scrollbar { width: 0 !important }

.text__paragraph {
  text-align: justify;

  @media (--largeDown) {
    max-width: 800px;
    margin-left: auto;
  }
}